{% extends 'bases/bases-admin.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="container d-flex justify-content-around align-items-start flex-column
        admin-gallery-single-container admin-container">
            <a href="{{ path('admin_gallery') }}" class="back">Retour</a>
            <h1>Titre : {{ project.title }}</h1>
            <p>Description : {{ project.description }}</p>
            <p>Type : {{ project.projectCategory.name }}</p>
            <div class="row align-items-center">
                <p class="col-2">Image principale : </p>
                <div class="admin-gallery-single-img-box col-3">
                    <img class="img-fluid" src="{{ asset('assets/img/') }}/{{ project.mainPicture }}" alt="">
                </div>
                <div class="col-7"></div>
            </div>
            <div class="row align-items-center">
                <!-- boucle pour afficher la galerie d'images liées au projet -->
                <p class="col-2">Autres images : </p>
                {% for picture in pictures %}
                    <div class="col-3">
                        <img src="{{ asset('assets/img') }}/{{ picture.name }}" class="img-fluid" alt="">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}