<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
</head>
<body>
    <main class="container-fluid base-main">
            <div class="row">
                <div class="col-2 base-container-menu">
                    <div class="base-menu-box">
                        <nav class="base-menu">
                            <ul class="d-flex flex-column justify-content-around align-items-center">
                                <li><a href="{{ path('home') }}" class="{{ app.request.get('_route') == 'home' ?'active' }}">Accueil</a></li>
                                <li><a href="{{ path('gallery_home') }}" class="{{ 'gallery' in app.request.get
                                        ('_route') ?'active' }}">Galerie</a></li>
                                <li><a href="{{ path('ecolo') }}" class="{{ app.request.get('_route') == 'ecolo'
                                    ?'active' }}">Écolo</a></li>
                                <li><a href="{{ path('contact') }}" class="{{ app.request.get('_route') == 'contact'
                                    ?'active' }}">Contact</a></li>
                                <li><a href="{{ path('legal') }}" class="{{ app.request.get('_route') == 'legal'
                                    ?'active-legal' }}">Mentions légales</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-10 base-content">
                    {% block content %}
                    {% endblock %}
                </div>
                <div class="profile">

                </div>
                <div class="profile-content container-fluid">
                    <div class="row">
                        <div class="col-5">
                            <div class="img-fluid profile-img-box">
                                <img src="{{ asset('assets/img/logo.png') }}" alt="Iandy DOMENICHINI photo de profil">
                            </div>

                        </div>
                        <div class="col-7">
                            <span class="profile-content-close">X</span>
                            <div class="cln"></div>
                            <div class="profile-text-box">
                                <h2>{{ profile[0].title }}</h2>
                                <p>{{ profile[0].description }}</p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
    </main>


    <script src="{{ asset('assets/js/script.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>